Source: formiko
Section: editors
Priority: optional
Maintainer: Ondřej Tůma <mcbig@zeropage.cz>
Build-Depends: debhelper (>= 9), dh-python, python3, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/ondratu/formiko
X-Python3-Version: >= 3.2
Vss-Git: https://github.com/ondratu/formiko-debian.git
Vcs-Browser: https://github.com/ondratu/formiko-debian
Testsuite: autopkgtest-pkg-python

Package: formiko
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends},
    python3-gi, python3-docutils, gir1.2-gtksource-3.0, gir1.2-webkit2-4.0,
    python3-recommonmark
Suggests: vim-gtk3
Description: reStructuredText and MarkDown editor and live previewer
 Features:
  * GtkSourceView based editor with syntax highlighting
  * possible use Vim editor
  * vertical or horizontal window splitting
  * preview mode
  * periodic save file
  * json and html preview
